body{
  text-align: center;
}

.container{
background-color: lightgrey;
max-width: 600px;
padding-bottom: -20px;
}


polygon.selected {
  fill: #edecec;
}

#region-info{
  text-align:left;
  background-color: white;
  padding: -5px;
}